In [3]:
# Add Matplotlib inline magic command
%matplotlib inline

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import pathlib

## Import Data Files and Create DataFrames

In [6]:
# Files to load
city_data_to_load = pathlib.Path("Resources/city_data.csv")
ride_data_to_load = pathlib.Path("Resources/ride_data.csv")

In [9]:
# Read the city and ride data files and store them in a pandas DataFrames
city_df = pd.read_csv(city_data_to_load)
ride_df = pd.read_csv(ride_data_to_load)

print(city_df.head(10))
print(ride_df.head(10))

            city  driver_count   type
0    Richardfort            38  Urban
1   Williamsstad            59  Urban
2    Port Angela            67  Urban
3     Rodneyfort            34  Urban
4    West Robert            39  Urban
5   West Anthony            70  Urban
6    West Angela            48  Urban
7  Martinezhaven            25  Urban
8      Karenberg            22  Urban
9    Barajasview            26  Urban
                 city                 date   fare        ride_id
0  Lake Jonathanshire  2019-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2019-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2019-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2019-02-10 23:22:03  23.44  5149245426178
4          South Jack  2019-03-06 04:28:35  34.58  3908451377344
5        South Latoya  2019-03-11 12:26:48   9.52  1994999424437
6       New Paulville  2019-02-27 11:17:56  43.25   793208410091
7        Simpsonburgh  2019-04-26 00:43:24  35.98   111953927754
8     South Karenland  2019-01-08 03:28:48  35.09  7995623208694
9       North Jasmine  2019-03-09 06:26:29  42.81  5327642267789

## Inspect and Clean the Data (if needed)
### Inspect City DataFrame

In [38]:
# Get the columns and the rows that are not null
city_df.count()
# city_df.isnull().sum()

city            120
driver_count    120
type            120
dtype: int64

In [39]:
# Get the data types of each column
city_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [40]:
# Get the unique values of the type of city
city_df["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [41]:
# Get the number of data points for each type of city
city_df.groupby("type")["city"].count()

type
Rural       18
Suburban    36
Urban       66
Name: city, dtype: int64

### Inspect Ride DataFrame

In [44]:
# Get the columns and the rows that are not null
ride_df.count()
# ride_df.isnull().sum()

city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64

In [45]:
# Get the data types of each column
ride_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

## Merge the DataFrames

In [54]:
# Combine the data into a single dataset
pyber_df = pd.merge(ride_df, city_df, how="left", on=["city", "city"])
pyber_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban